{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
{% endblock %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-dark bg-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Flasky</a>
      <a href="/">Home</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-3">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}